/* tamanho de telas para desktops*/
@media (max-width:960px){
    body{
        width: 100%;
    }
}
/* tamanho de telas para tablets*/
@media (max-width:768px){
   body{
    width: 90%;
   }
}

/* tamanho de telas para celular*/
@media (max-widrh: 480px){
    body{
        width: 100%;
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(imagens/império\ do\ corte-\ fundo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.menu-nav{
    margin-top: 0;
    display: flex;
    justify-content: center; /* Alinha itens à o centro */
    gap: 165px;
    padding: 25px;
    background-color: rgba(128, 128, 128, 0.5);

}

.menu-nav a{
    text-decoration: none;
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.nossa-empresa{
    margin: 55px;
    justify-content: center;
    text-align: center;
    padding: 56px;
    border-radius: 25px;
    box-shadow: 6px 1px 17px 1px rgba(0, 0, 0, 0.527);
    background-color: rgba(128, 128, 128, 0.349);
}

.nossa-empresa h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgb(234, 245, 170);
    margin-bottom: 3px;
}



